.error_message {
  color: red;
  background: url("../img/status_error.png") no-repeat scroll 0 50% #F6F6F6;
  padding-left: 25px;
  font-weight: bold;
}

.success_message {
  color: green;
  background: url("../img/status_ok.png") no-repeat scroll 0 50% #F6F6F6;
  padding-left: 25px;
  font-weight: bold;
}

.working_message {
  color: blue;
  background: url("../img/status_loading.gif") no-repeat scroll 0 50% #F6F6F6;
  padding-left: 25px;
  font-weight: bold;
}

.oa_social_login_provider {
  background-image: url("../img/provider_sprite_35_35.png");
  text-indent: -9999px;
  height: 35px;
  width: 35px;
  display: inline-block;
}

.oa_social_login_provider.oa_social_login_provider_aol {
  background-position: -2px -1px;
}

.oa_social_login_provider.oa_social_login_provider_blogger {
  background-position: -39px -1px;
}

.oa_social_login_provider.oa_social_login_provider_facebook {
  background-position: -76px -1px;
}

.oa_social_login_provider.oa_social_login_provider_foursquare {
  background-position: -113px -1px;
}

.oa_social_login_provider.oa_social_login_provider_google {
  background-position: -150px -1px;
}

.oa_social_login_provider.oa_social_login_provider_hyves {
  background-position: -187px -1px;
}

.oa_social_login_provider.oa_social_login_provider_linkedin {
  background-position: -224px -1px;
}

.oa_social_login_provider.oa_social_login_provider_windowslive {
  background-position: -261px -1px;
}

.oa_social_login_provider.oa_social_login_provider_livejournal {
  background-position: -298px -1px;
}

.oa_social_login_provider.oa_social_login_provider_myspace {
  background-position: -372px -1px;
}

.oa_social_login_provider.oa_social_login_provider_openid {
  background-position: -409px -1px;
}

.oa_social_login_provider.oa_social_login_provider_twitter {
  background-position: -520px -1px;
}

.oa_social_login_provider.oa_social_login_provider_vkontakte {
  background-position: -631px -1px;
}

.oa_social_login_provider.oa_social_login_provider_wordpress {
  background-position: -668px -1px;
}

.oa_social_login_provider.oa_social_login_provider_yahoo {
  background-position: -705px -1px;
}

.oa_social_login_provider.oa_social_login_provider_paypal {
  background-position: -742px -1px;
}

.oa_social_login_provider.oa_social_login_provider_stackexchange {
  background-position: -779px -1px;
}

.oa_social_login_provider.oa_social_login_provider_steam {
  background-position: -816px -1px;
}

.oa_social_login_provider.oa_social_login_provider_mailru {
  background-position: -853px -1px;
}

.oa_social_login_provider.oa_social_login_provider_skyrock {
  background-position: -890px -1px;
}

.oa_social_login_provider.oa_social_login_provider_github {
  background-position: -927px -1px;
}

.oa_social_login_provider.oa_social_login_provider_disqus {
  background-position: -964px -1px;
}

.oa_social_login_provider.oa_social_login_provider_youtube {
  background-position: -1001px -1px;
}

.oa_social_login_provider.oa_social_login_provider_odnoklassniki {
  background-position: -1038px -1px;
}

.social_login_form {
  width: 760px;
  padding: 0;
  background-color: #fff;
}

.social_login_form a {
  text-decoration: underline !important;
}

.social_login_form .blank a {
  text-decoration: none !important;
  padding: 0 15px !important;
  font-weight: bold;
}

.social_login_form a:hover {
  text-decoration: none !important;;
}

.social_login_form legend {
  margin-left: 10px;
  line-height: 30px;
}

.social_login_form .row {
  padding: 5px 10px;
  font-size: 12px;
  clear: both;
  overflow: hidden;
}

.social_login_form .row_provider {
  line-height: 40px;
}

.social_login_form .row_provider .provider_icon {
  float: left;
  clear: none;
  cursor: pointer;
}

.social_login_form .row_provider .provider_check {
  float: left;
  clear: none;
  margin: 15px;
}

.social_login_form .row_provider .provider_name {
  clear: none;
  float: left;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.social_login_form .row_odd {
  background-color: #e7e7e7;
  color: #222;
}

.social_login_form .row_even {
  background-color: #fff;
}

.social_login_form .row_title {
  font-size: 14px;
  font-weight: bold;
  margin-top: 15px;
}

.social_login_form .row_button {
  background-color: #F6F6F6;
  border-top: 1px dotted #ddd;
  margin-top: 14px;
  padding: 5px 10px;
}

.social_login_form .row_description {
  padding: 5px 0 10px 10px;
  font-weight: bold;
}

.social_login_form_info {
  background-color: #FFFFE0;
}

.social_login_form_info .row {
  padding: 0 10px 10px !important;
}

.social_login_form_welcome {
  background-color: #E1EDFF;
}

.social_login_form_welcome .row {
  margin-bottom: 10px;
}

.social_login_form_welcome .row_button {
  padding-bottom: 0 !important;
  background-color: #E1EDFF;
}